<header>
  <h1>EPIQSS Support Webpage</h1>
</header>

<nav>
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">API Endpoints</a></li>
    <li><a href="#">Support</a></li>
  </ul>
</nav>

<main>
  <section>
    <h2>EPIQSS Overview</h2>
    <p>This is a website that provides support information, how to, and an reference for the API for EPIQSS</p>
  </section>

  <section>
    <h2>Application Information</h2>
    <ul>
      <li>Location: Contental US</li>
      <li>Users: Internal WNCINC Employees</li>
      <li>Purpose: To created, edit, and keep track of inspections on various WNCINC Properties</li>
      <li>Platform: iOS (iPad ONLY)</li>
      <li>Version Number:</li>
      <li>Technologies: Swift</li>
    </ul>
  </section>

  <section>
    <h2>Features</h2>
    <ul>
      <li>Viewing Inspections</li>
      <li>Editing Inspections</li>
      <li>Generating Reports</li>
    </ul>
  </section>

  <section>
    <h2>Support</h2>
    <p>For support, please contact the WNCINC IT Department</p>
    <h3>Contacts</h3>
    <ul>
      <li>Jee Kim</li>
      <ul>
        <li>Email: jkim@wncinc.com</li>
        <li>Phone Number: (310) 650 - 7577</li>
        <li>Role: WNCINC Business Systems Analyst</li>
        <li>Image: image_url_placeholder </li>
      </ul>
      <li>Hiren Tank</li>
      <ul>
        <li>Email: N/A</li>
        <li>Phone Number: N/A </li>
        <li>Role: Application Developer </li>
        <li>Image: image_url_placeholder </li>
      </ul>
    </ul>
  </section>

  <section>
    <h2>API Endpoints</h2>

  </section>
</main>

<footer>
  <p>&copy; 2023 WNCINC. All rights reserved.</p>
</footer>